# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.NtiPain.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ilya\source\repos\NtiPain\.idea\.idea.NtiPain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
